* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 35%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: rgb(248, 215, 215);
  justify-content: center;
}
form * {
  padding: 5px;
  margin: 5px;
}
.for-boxes {
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin: 5px;
}
.select-cl {
  margin-bottom: 5px;
}
.textarea-cl {
  margin: 5px 0 10px 0;
}
